.section-tasks {
    height: calc(100vh - 150px);
    margin-left: 25rem;
    margin-top: 9rem;
    position: relative;

    &__tasks-container {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 5rem;
        overflow: auto;
        padding-top: 7rem;
    }
}